root = true

[src/**.{js,jsx,ts,tsx,json}]
charset = utf-8
end_of_line = lf
indent_style = tab
tab_width = 4
insert_final_newline = true
trim_trailing_whitespace = true

[{.babelrc,.stylelintrc,jest.config,.eslintrc,.prettierrc,yarn.lock}]
indent_style = tab
tab_width = 4
